// color-text #f2f2f7;
// backgroud  #161616;
// elements   #1a1a1d;
html{
  scrollbar-width: thin;
}
.App {
  text-align: center;
  // background-color: #151516;
  // background: #151722;
  background: #161616;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  // thin100 thin100 italic light300 regular400 bold700 black900italic
  
}
.header{
  padding-top: 30px;
  &__user-view{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}
.header-block{
  display: flex;
  width: 70px;
  // height: 70px;
  padding: 8px 8px;
  border: 1px solid #343435;
  border-radius: 12px;

  justify-content: center;

  font-size: 20px;
  font-weight: 700;
  color: #ca2e7c;

 &__search{
   width: 800px;
  //  height: 70px;
  background: #1a1a1d;
  border: 1px solid #343435;
  border-radius: 12px;
 } 
}
// LoginPanel
.row-box{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome-text{
  color: #f2f2f7;
  &__bold{
    font-size: 58px;
    font-weight: 800;
    &--colorful{
      // background: linear-gradient(to right, #b621a9 0%, #c20d44 50%, #2954e0 100%);
      background: linear-gradient(to right, #c20d44  0%, #ca2e7c 100%, );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__semi-bold{
    color: #f2f2f7;
    font-size: 28px;
  }
}
.panel{
  display: flex;
  justify-content: center;
  border-left: 3px solid #1a1a1d;
  margin-left: 20px;
}
.login-text{
  color: #f2f2f7;
}
.login-panel{
  height: 300px;
  width: 350px;
  color:#f2f2f7;
  border-radius: 12px;
  background: #1a1a1d;

  &__info{
    display: flex;
    justify-content: center;
    &--bold{
      font-weight: bold;
      padding-right: 3px;
    }
  } 

  &__header{
    display: flex;
    justify-content: center;
    padding-top:8px;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #cf184f 0%, #7d0ca0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &--thin{
      font-weight: 400;
      padding-left: 4px;
    }
}
  &__form{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  &__form-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }
  &__input{
    // margin: 10px;
    width: 250px;
    display: flex;
    background: #48484a;
    border: none;
    color: #f2f2f7;
    font-size: 14px;
    border-radius: 10px;
    background: #1a1a1d;
    box-shadow: inset 7px 7px 7px #161619,
                inset -7px -7px 7px #1e1e21;
    padding:10px 0px 10px 13px;
    outline: none;
  }
  &__text{
    font-size: 14px;
    padding-bottom: 4px;
  }
  &__accept{
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }

.login-button{
  font-weight: 600;
  border: none;
  display: flex;
  justify-content: center;
  width: 100px;
  background: #1a1a1d;
  box-shadow:  5px 5px 10px #131315,
           -5px -5px 10px #212125;
  padding:8px ;
 color: #cf184f;
 border-radius: 6px;
 
  &:active{
    border-radius: 6px;
    color:  #cf184f !important;
    background: #1a1a1d;
    box-shadow: inset 6px 6px 12px #161619,
            inset -6px -6px 12px #1e1e21;
  }
}
}
.ball{
  &--user-view{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 90%;
    background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
    -webkit-text-fill-color: transparent;
    animation: move 10s infinite;
    z-index: 1;
  }
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 80%;
  background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
  -webkit-text-fill-color: transparent;
  animation: move 10s infinite
}
// UserView
.announcement-list{
  margin-top: 40px;
  padding-top: 20px;
  padding: 20px 10px 20px 10px;
  height: 100%;
  border: 1px solid #343435;
  border-radius: 12px;
  background: #1a1a1d;
  

  &__item{
    height: 100px;
    border-radius: 12px;
    background: #161616;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
}
.announcement{
  color: #f2f2f7;
  &__direction-items{
    display: flex;
    flex-direction: column;
  }
  &__image{
    width: 80px;
    height: 80px;
    border: 2px solid #ca2e7c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }
  &__title{
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding-left: 14px;
  }
  &__description{
    font-size:12px;
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 14px;
  }
  &__adding-info{
    
    &--date{
      font-size: 12px;
    }
    &--location{
      font-size: 12px;
    }
  }
}
.between{
  display: flex;
  justify-content: space-between;
}
.add-announcement{
  position: sticky;
  position: -webkit-sticky; 

  top: 80%;
  left: 90%;
  background: #1a1a1d;
  border: 1px solid #343435;
  height: 90px;
  width: 90px;
  border-radius: 12px;
  color: #ca2e7c;
  transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
  transform: rotatex(180deg) translate3d(0, -100px,0);
  transform-origin: top;
  text-align: center;
  
  &:hover{
    
    height: 600px;
    width: 600px;
    // transition: height 2s ease-in-out ;
  }
  &__button{
    transition: cubic-bezier(0);
    transform: rotatex(180deg) translate3d(0, 0px, 0);
    transform-origin: bottom;
    border: none;
    background: none;
    color: #ca2e7c;
    font-size: 20px;
  }
}

@keyframes move {
  0%{
    top: 40%;
    left: 60%;
  }
  50%{
    top: 60%;
    left: 70%;
  }
  100%{
    top: 40%;
    left: 60%;
  }
}



