// color-text #f2f2f7;
// backgroud  #161616;
// elements   #1a1a1d;
html{
  scrollbar-width: thin;
  scrollbar-color: black #1a1a1a;
}

.app {
  text-align: center;
  // background-color: #151516;
  // background: #151722;
  background: #161616;
  font-family: 'Montserrat', sans-serif;
  // height: 100vh;
  // thin100 thin100 italic light300 regular400 bold700 black900italic

}
.backgroud{
  height: 100%;
  background: #161616;
}
.header{
  padding-top: 30px;
  &__user-view{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}
.header-block{
  display: flex;
  width: 70px;
  // height: 70px;
  padding: 8px 8px;
  border: 1px solid #343435;
  border-radius: 12px;

  justify-content: center;

  font-size: 20px;
  font-weight: 700;
  color: #ca2e7c;

  &--link{
    color: #ca2e7c;
    text-decoration: none;
    &:hover{
      color: #ca2e7c;
    }
  }
 &__search{
   width: 800px;
  //  height: 70px;
  background: #1a1a1d;
  border: 1px solid #343435;
  border-radius: 12px;
  display: flex;
  &--active{
    border: 1px solid #ca2e7c;
    width: 800px;
    //  height: 70px;
    background: #1a1a1d;
    
    border-radius: 12px;
    display: flex;
  }
 } 
}
.search-input{
  background: none;
  color: #f2f2f7;
  border: none;
  outline: none;
  margin-left: 4px;
  
  &__button{
    color: #f2f2f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #343435;
    cursor: pointer;
  }
  &--active{
    background: none;
    color: #f2f2f7;
    border: none;
    outline: none;
    margin-left: 4px;
    color:#ca2e7c ;
  }
}
.filter-bar{
  opacity: 0;
  margin: 10px 200px;
  border: 1px solid #343435;
  background: #1a1a1d;
  border-radius: 12px;
  color: #ca2e7c;
  padding: 8px 0px;
  height: 0;
  visibility: hidden;
  transition:  opacity 0.2s linear, height 0.1s linear,;
  &__active{

    height: 100px;
    margin: 10px 200px;
    border: 1px solid #343435;
    background: #1a1a1d;
    border-radius: 12px;
    color: #ca2e7c;
    padding: 8px 0px;
    transition:  opacity 0.2s linear, height 0.1s linear,;
  }
  &__title{
    color: #f2f2f7;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
  }
  &__row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &__items{
    display: flex;
    font-size: 14px;
    // border: 1px solid #ca2e7c;
    border: 1px solid #343435;
    color:  #343435;
    border-radius: 12px;
    padding: 3px 7px;
    cursor: pointer;
    transition:  color 0.2s linear, border 0.2s linear;
    &--active{
      display: flex;
      font-size: 14px;
      border: 1px solid #ca2e7c;
      color:  #ca2e7c;
      border-radius: 12px;
      padding: 3px 7px;
      transition:  color 0.2s linear, border 0.2s linear;
      cursor: pointer;
    }
    transition:  opacity 0.2s linear;
    &--clean{
      color: #f2f2f7;
      font-size: 12px;
      border: 1px solid #f2f2f7;
      border-radius: 12px;
      margin-top: 10px;
      cursor: pointer;
      padding:2px 8px ;
      transition:  opacity 0.2s linear;
    }
  }
  &__end{
    display: flex;
    justify-content: flex-end;
  }
}
// Modal notifi
.modal-notifi{
  color: #ca2e7c;
  font-weight: 800;
  background: #1a1a1d;
  border: 1px solid #48484a;
  border-radius: 12px;
  padding: 8px;
  width: 500px;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%,-50%);
}
// Register panel
.register-panel{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #131315;
  z-index: 1;
  height: 700px;
  width: 1300px;
  display: flex;
  border-radius: 12px;
  &__header{
    display: flex;
  }
  &__large-text{
    font-weight: 800;
    color: #f2f2f7;
    font-size: 200px;
    word-wrap: break-word;
  }
  &__normal-text{
    font-weight: 800;
    color: #f2f2f7;
    background: #1a1a1a;
    font-size: 20px;
    word-wrap: break-word;
  }
  &__image{
    background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &__ball-set{
    display: flex;
    margin-top: 120px;
    justify-content: space-evenly;
  }
  &__ball{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    // color: #f2f2f7;
    background: #f2f2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ca2e7c;
    transition: border-radius 0.5s ease;
    &--active{
      border-radius: 12px;
      transition: border-radius 0.5s ease;
      height: 50px;
      width: 50px;
      background: #f2f2f7;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: #ca2e7c;
    }
  }
  &__prompt{
    height: 100px;
    margin: 20px 20px;
    padding: 0px 20px;
    border-radius: 12px;
    background:#f2f2f7 ;
    color: #ca2e7c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  &__text{
    color: white;
    font-size: 58px;
    font-weight: 800;
    &--info{
      font-weight: 500;
      font-size: 20px;
      color: #f2f2f7;
      margin-top:50px ;
    }
  }
  &__right{
    background:#1a1a1d;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  &__back{
    // color: #ca2e7c;
    color: #ca2e48;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__input-contents{
    margin: 50px 0px;
  }
  &__items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px;
  }
  &__input{
    background: #48484a;
    border: none;
    color: #f2f2f7;
    font-size: 14px;
    border-radius: 10px;
    background: #1a1a1d;
    box-shadow: inset 7px 7px 7px #161619,
                inset -7px -7px 7px #1e1e21;
    padding:10px 0px 10px 13px;
    outline: none;
    width: 300px;
  }
  &__register-button{
    background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
    border: 0px;
    border-radius: 12px;
    padding: 10px;
    color: #f2f2f7;
    width: 300px;
  }
  &__toogle{
    color: #f2f2f7;
    width: 300px;
    background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
    cursor: pointer;
    border: none;
    border-radius: 12px;
    padding: 10px 0px;
    animation: pulse 2s infinite;
  }
}
// LoginPanel
.row-box{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome-text{
  color: #f2f2f7;
  &__bold{
    font-size: 36px;
    font-weight: 800;
    &--colorful{
      // background: linear-gradient(to right, #b621a9 0%, #c20d44 50%, #2954e0 100%);
      background: linear-gradient(to right, #c20d44  0%, #ca2e7c 100%, );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__semi-bold{
    color: #f2f2f7;
    font-size: 17pxpx;
  }
  &__register{
    padding-top: 15px;
  }
}
.welcome-register-button{
  background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
  border-radius: 12px;
  border: 0px;
  margin-top: 6px;
  padding: 10px;
  color:#f2f2f7;
  // transition: opacity 0.3s linear,opacity 0.3s linear;
  &:active{
    opacity: 0;
    transition: opacity 0.3s linear,opacity 0.3s linear;
  }
}
.panel{
  display: flex;
  justify-content: center;
  border-left: 3px solid #1a1a1d;
  margin-left: 20px;
}
.login-text{
  color: #f2f2f7;
}
.login-panel{
  height: 300px;
  width: 350px;
  color:#f2f2f7;
  border-radius: 12px;
  background: #1a1a1d;

  &__info{
    display: flex;
    justify-content: center;
    &--bold{
      font-weight: bold;
      padding-right: 3px;
    }
  } 

  &__header{
    display: flex;
    justify-content: center;
    padding-top:8px;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #cf184f 0%, #7d0ca0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &--thin{
      font-weight: 400;
      padding-left: 4px;
    }
}
  &__form{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  &__form-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }
  &__input{
    // margin: 10px;
    width: 250px;
    display: flex;
    background: #48484a;
    border: none;
    color: #f2f2f7;
    font-size: 14px;
    border-radius: 10px;
    background: #1a1a1d;
    box-shadow: inset 7px 7px 7px #161619,
                inset -7px -7px 7px #1e1e21;
    padding:10px 0px 10px 13px;
    outline: none;
  }
  &__text{
    font-size: 14px;
    padding-bottom: 4px;
  }
  &__accept{
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }

}
.login-button{
  font-weight: 600;
  border: none;
  display: flex;
  justify-content: center;
  width: 100px;
  background: #1a1a1d;
  box-shadow:  5px 5px 10px #131315,
           -5px -5px 10px #212125;
  padding:8px ;
 color: #cf184f;
 border-radius: 6px;

  &:active{
    border-radius: 6px;
    color:  #cf184f !important;
    background: #1a1a1d;
    box-shadow: inset 6px 6px 12px #161619,
            inset -6px -6px 12px #1e1e21;
  }
  &__link{
    text-decoration: none;
  }
}
.ball{
  &--user-view{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 90%;
    background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
    -webkit-text-fill-color: transparent;
    animation: move 10s infinite;
    z-index: 1;
  }
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 80%;
  background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
  -webkit-text-fill-color: transparent;
  animation: move 10s infinite
}
// UserView
.announcement-list{
  margin-top: 40px;
  padding-top: 20px;
  padding: 20px 10px 20px 10px;
  height: 100%;
  border: 1px solid #343435;
  border-radius: 12px;
  background: #1a1a1d;
  

  &__item{
    height: 110px;
    border-radius: 12px;
    background: #161616;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
}
.announcement{
  color: #f2f2f7;
  &__direction-items{
    display: flex;
    flex-direction: column;
  }
  &__image{
    width: 80px;
    height: 80px;
    border: 2px solid #ca2e7c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }
  &__title{
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    padding-left: 14px;
  }
  &__description{
    font-size:12px;
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 14px;
  }
  &__adding-info{
    &--show-details{
      color: #ca2e7c;
      display: flex;
      width: 70%;
      justify-content: center;
      font-size: 14px;
      align-items: center;
      border: 1px solid #ca2e7c;
      border-radius: 12px;
      margin-right: 20px;
      cursor: pointer;
    }
    &--favourite{
      border: 1px solid #343435;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #343435;
      cursor: pointer;
      // &:active{
      //   border: 1px solid #ca2e7c;
      //   color: #ca2e7c;
      // }
    }
    &--watched-active{
      border: 1px solid #ca2e7c;
      color: #ca2e7c;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--remove-watched{
      color: #ca2e7c;
      font-size: 12px;
      border: 1px solid #ca2e7c;
      border-radius: 12px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 8px;
      cursor: pointer;
    }
    &--date{
      font-size: 12px;
    }
    &--location{
      font-size: 12px;
    }
  }
  &__details{
    // height: 260px;
    width: 900px;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-40%);
    background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
    // border: 1px solid #343435;
    color: white;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 12px;
    &--title{
      text-align: start;
      font-size: 20px;
      font-weight: 700;
    }
    &--description{
      font-size: 14px;
      text-align: left;
      font-style:normal;
      margin: 20px 0px;
      padding-right: 30px;
    }
    &--end{
      text-align: right;
      margin-right: 20px;
    }
    &--image{
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 3px solid #1a1a1a;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;      margin-left:10px ;
      border-radius: 12px;
      font-size: 70px;
    }
    &--button-position{
      display: flex;
      justify-content: flex-end;
      margin: 10px 10px 0px 0px;
    }
    &--button{
      background: transparent;
      color: #1a1a1d;
      border: none;
      font-weight: 700;
    }
    &--location{
      text-align: left;
    }
    &--number{
      margin-bottom: 40px;
      text-align: start;
      
    }
  }
}
.details-position{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 40px;
}
.details-right{
  margin-left: 10px;
  &--column{
    display: flex;
    justify-content: space-between;
  }
}
.announcement-favourite{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.between{
  display: flex;
  justify-content: space-between;
}
.add-announcement{
  position: sticky;
  position: -webkit-sticky; 

  top: 80%;
  left: 90%;
  background: #1a1a1d;
  border: 1px solid #343435;
  height: 90px;
  width: 90px;
  border-radius: 12px;
  color: #ca2e7c;
  transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
  transform: rotatex(180deg) translate3d(0, -100px,0);
  transform-origin: top;
  text-align: center;
  
  &:hover{
    
    height: 600px;
    width: 600px;
    // transition: height 2s ease-in-out ;
  }
  &__button{
    transition: cubic-bezier(0);
    transform: rotatex(180deg) translate3d(0, 0px, 0);
    transform-origin: bottom;
    border: none;
    background: none;
    color: #ca2e7c;
    font-size: 20px;
  }
}
.button-add-announcement{
  width: 80px;
  height: 80px;
  border: 2px solid #ca2e7c;
  border-radius: 50%;
  position: sticky;
  bottom: 10%;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
	animation: pulse 2s infinite;
  &__item{
    width: 100%;
    height: 100%;
    background: #131315;
    border: none;
    border-radius: 50%;
    color:#ca2e7c ;
    font-weight: 600;
  }
}
.add-ann-form{
  display: flex;
  flex-direction: column;
  
}
.textarea{
  color: #ca2e7c;
}
.add-announcement-modal{
  color: #f2f2f7;
  // color: #343435;

  &__item{
    width: 1200px;
    // height: 500px;
    background: #161616;
    border-radius: 12px;
    border: 1px solid #343435;
    position: fixed;
    
    top: 20%;
    left: 50%;
   transform: translate(-50%);
  }
  &__text{
    font-size: 30px;
    font-weight: 800;
    // color: #ca2e7c;
    background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // color: #f2f2f7;
  }
  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  &__position{
    display: flex;
    justify-content: space-between;
    padding-top:10px ;
    &--last{
      display: flex;
      justify-content: space-between;
      padding-top:10px ;
    }
    &--twice{
      display: flex;
      justify-content: space-between;
      padding-top:10px ;
    }
  }
  &__input{
    background: #1a1a1d;
    // color: #f2f2f7;
    color: #ca2e7c;
    border: 1px solid #343435;
    border-radius:12px ;
    padding: 8px;
    &--title{
      color: red;
    }
    &--description{
      background: #1a1a1d;
      color: #f2f2f7;
      border: 1px solid #343435;
      border-radius:12px ;
      padding: 8px;
      height: 200px;
    }
  }
  &__button{
    margin: 30px 0px;
    border: 2px solid #ca2e7c;
    background: none;
    color: #ca2e7c;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-weight:600;
    &--disable{
      // cursor:default;
      margin: 30px 0px;
      width: 200px;
      border: 2px solid #343435;
      background: none;
      color: #343435;
      padding: 10px;
      border-radius: 10px;
      font-weight:600;
      
    }
  }
  &__statement{
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%);
    background: #1a1a1d;
    border: 1px solid #343435;
    padding: 10px;
    border-radius: 10px;
    &--add{
      color: rgb(66, 145, 66);
    }
    &--test{
      color: white;
      font-size:12px ;
    }
  }
  &--text{
  // color: #f2f2f7;
  // color: #343435;
  background: linear-gradient(to right, #c20d44 0%, #ca2e7c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  text-align: start;

  }
}
.button-exit{
  color: #ca2e7c;
  font-weight: 800;
  border: none;
  background: none;
  border-radius: 10px;
  padding: 3px;
  margin: 10px;
  text-align: center;

  cursor: pointer;
  &__end{
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    
  }
}
// Profil panel
.profile-box{
  background: #1a1a1d;
  border: 1px solid #343435;
  border-radius: 12px;
  margin-top: 40px;
  // padding-bottom: 40px ;
  height: 100%;
  // margin-bottom: 40px;
  // padding: 20px;
  &__header{
    font-size: 40px;
    color: #f2f2f7;
  }
  &__composition{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
  }
  &__view{
    // display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    border: 1px solid #343435;
    border-radius: 12px;
    // margin: 20px;

  }
}
.profile-button{
  padding: 10px 0px;
  margin: 10px 0px;
  background: #131315;
  color: #ca2e7c;
  border: none;
  border-radius: 12px;
  &--active{
    border-radius: 12px;
    background: #1a1a1d;
    box-shadow: inset 6px 6px 12px #161619,
                inset -6px -6px 12px #1e1e21;
  }
  // &:hover{
  //   border-radius: 12px;
  //   background: #1a1a1d;
  //   box-shadow: inset 6px 6px 12px #161619,
  //               inset -6px -6px 12px #1e1e21;
  // }
}
.my-profile-data{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  &__composition{
    display: flex;
    flex-direction: column;

  }
  &__label{
    text-align: start;
    color: #f2f2f7;
    font-size: 12px;
    margin-bottom: 2px;
  }
  &__input{
    background: #161616;
    border: none;
    border-radius: 12px;
    padding: 8px 0px 8px 8px;
    outline: none;
    color: #f2f2f7;
  }
  &__description{
    color: #f2f2f7;
    height: 170px;
    border-radius: 12px;
    margin-bottom: 20px;
    background: linear-gradient(217deg, #cf184f, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(188, 48, 223, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #df698c, rgba(0,0,255,0) 70.71%);
    &--title{
      margin: 8px;
      padding: 2px;
      background: rgb(143, 89, 110);
      // background: rgb(150, 59, 94);
      border-radius: 12px;
    }
    &--text{
      display: flex;
      text-align: right;
      padding-right: 8px;
      // height: 100%;
      margin-top: 40px;
    }
  }
}
.confirmation-action{
  color: #f2f2f7;
  font-size: 20px;
  // background: #161616;
  background: #1a1a1d;
  width: 500px;
  position: absolute;
  z-index: 1;
  top: 22%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  // border: 1px solid #ca2e7c;
border: 1px solid #343435;
// box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
// box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  padding: 10px;
  &__header{
    margin-top: 20px;
  }
  &__buttons{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    font-size: 14px;
    &--yes{
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      background: #1a1a1d;
      color: #f2f2f7;
      border: 2px solid #ca2e7c;
      border-radius:12px ;
      padding: 8px;
      width: 80px;
      &:active{
        border: 2px solid #343435;
      }
    }
    &--no{
      background: #1a1a1d;
      color: #f2f2f7;
      border: 2px solid #ca2e7c;
      border-radius:12px ;
      padding: 8px;
      width: 80px;
      &:active{
        border: 2px solid #343435;
      }
    }
  }
}
@keyframes move {
  0%{
    top: 40%;
    left: 60%;
  }
  50%{
    top: 60%;
    left: 70%;
  }
  100%{
    top: 40%;
    left: 60%;
  }
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #ca2e48 ;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}



